.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  grid-gap: 24px;
}

.cards-container {
  background-color: rgb(44, 96, 245);
  padding-top: 120px;
  padding-bottom: 90px;
  margin: 0;
}
.cards > ul > li {
  padding: 10px;
  transition: box-shadow 0.3s ease, border 0.3s ease; /* Smooth transition for the shadow and border */
  border: 1px solid transparent;
  background-image: linear-gradient(var(--background-color), var(--background-color)), 
                    linear-gradient(to bottom, darkgray, white); /* Gradient from dark gray to white, top to bottom */
  background-origin: border-box;
  background-clip: padding-box, border-box;
  position: relative;
  height: 450px;
}

.cards > ul > li:hover {
  border: 1px solid black; /* Border changes to blue on hover */
  box-shadow: 0 0 10px rgba(0, 0, 255, 0.5); /* Optional shadow on hover */
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.cards > ul > li:hover {
  padding: 10px;
  box-shadow: 0 4px 8px rgba(197, 197, 197, 0.3); /* Drop shadow on hover */
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-body p{
  font-size: small;
}

h3 {
 font-size: small;
}

h2 {
  font-size: large;
  font-family: ibm-regular;
}

.cards > ul > li h4 {
  position: absolute;
  bottom: 30px; /* Adjusts how far from the bottom edge */
  left: 20px; /* Adjusts how far from the left edge */
  margin: 0; /* Reset margin */
}

/*H4 Button */
h4 > a:any-link  {
  background-color: var(--ibm-blue);
  font-size: 15px;
  color: white;
  font-family: ibm-regular;
  padding: 10px;
  width: 200px;
  border-radius: 4px;
  border: 1px solid rgb(97, 136, 244);
}

h4 > a:any-link::after {
  content: "→"; /* Unicode for right arrow */
  display: inline-block;
  font-size: 18px; /* Make the arrow bigger */
  margin-left: 30px; /* Move the arrow more to the right */
  transition: transform 0.3s ease;
  vertical-align: middle; /* Align arrow with the text */
}

h4 > a:any-link:hover {
  background-color: rgb(97, 136, 244);
  color: whitesmoke;
  text-decoration: none;
}




.cards .cards-card-image {
  line-height: 0;
}
.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  border-radius: 15px; /* This will give the image slightly rounded corners */
}
