.video.block {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
    height: 0;
    overflow: hidden;
    max-width: 100%;
  }
  
  .video.block iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    border: 0;
  }