.homepage-cards-title > div > div h3 {
    text-align: center;
    font-family: "ibm-regular";
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; /* 125% */
}

.homepage-cards-title > div > div p {
    text-align: center;
    font-family: "ibm-regular";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.homepage-cards-title{
    padding-top: 50px;
}


.homepage-cards {

    position: relative; /* Positioning context for the pseudo-element */
    text-align: center; /* Center the content horizontally */
    display: flex;             /* Use flexbox for alignment */
}

.homepage-cards-wrapper {

    justify-content: center;   /* Center horizontally */
    align-items: center;       /* Center vertically (optional) */
    height: 100%;              /* Ensure it takes up the full height if needed */
}



.homepage-cards > div > div:last-child p {
    color: #000;
    font-family: "ibm-regular";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}




.homepage-cards > div > div:first-child > picture img {

    width: 500px;
    height: 200px;
    
}



.homepage-cards > div {

    padding: 50px;
    
}

.homepage-cards a.button:any-link {
    background-color: transparent;
    font-size: 14px;
    color: var(--ibm-blue);
    font-family: ibm-light;
    margin: 0;
    border-radius: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 250px;
    border-radius: 8px;
    border: 1px solid white;
}


.homepage-cards a.button:any-link::after {
    content: "→"; /* Unicode for right arrow */
    display: inline-block;
    font-size: 14px; /* Make the arrow bigger */
    font-weight: lighter; /* Adjust the weight as per your need */
    margin-left: 10px; /* Move the arrow more to the right */
    margin-bottom: 4px;
    transition: transform 0.3s ease;
    vertical-align: middle; /* Align arrow with the text */
}