
.blue-banner-two-wrapper {
    position: relative;
    padding: 0;
    margin: 0;

}

.blue-banner-two-container {
    background-color: rgb(44, 96, 245);
    padding: 0;
    margin: 0;
}

.blue-banner-two {
    padding: 20px;
}

.blue-banner-two h3 {
    color: white;
    font-size: 40px;
    font-family: ibm-thin;
    padding: 0;
    margin: 0;
}

.blue-banner-two p {
    color: whitesmoke;
    font-size: medium;
    padding-bottom: 30px;
    padding: 10px;
    margin: 0;
}

.blue-banner-two a.button:any-link {
    background-color: rgb(44, 96, 245);
    font-size: 13px;
    color: whitesmoke;
    font-family: ibm-light;
    margin: 0;
    border-radius: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 250px;
    border-radius: 8px;
    border: 1px solid whitesmoke;
}

.blue-banner-two a.button:any-link::after {
    content: "→"; /* Unicode for right arrow */
    display: inline-block;
    font-size: 18px; /* Make the arrow bigger */
    font-weight: lighter; /* Adjust the weight as per your need */
    margin-left: 50px; /* Move the arrow more to the right */
    transition: transform 0.3s ease;
    vertical-align: middle; /* Align arrow with the text */
}

.blue-banner-two a.button:any-link:hover {
    background-color: var(--ibm-blue-hover);
    color: whitesmoke;
}

.blue-banner-two img {
    position: absolute; /* Absolute positioning for the image */
    bottom: 0; /* Align to the bottom */
    right: 0; /* Align to the right */
    width: 400px;
    max-width: 100%; /* Ensure the image doesn't overflow */
    height: auto; /* Maintain aspect ratio */
    z-index: 1; /* Ensure it sits behind text if needed */
}