footer {
  background: linear-gradient(to bottom, rgb(16, 16, 16), rgb(56, 16, 16)); /* Gradient from black to blue */
  font-size: var(--body-font-size-xs);
  color: white; /* Ensure text is readable on dark background */
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}

footer .footer p {
  margin: 0;
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 24px;
  }
}
