footer {
  background-color: rgb(58, 58, 58);
  color: white;
  font-size: var(--body-font-size-xs);
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}

.footer > div  {
  padding: 15px;
  width: 40%;
  font-size: x-small;
}

.footer > div > div {
  padding-top: 20px;
}
footer .footer p {
  margin: 0;
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 24px;
  }
}
