footer {

  color: white;
  font-size: var(--body-font-size-xs);
  padding: 40px 24px 24px;
  height: 300px;
}

.footer-wrapper {
  background-image: url('../../icons/footer-back.png');
  background-size: cover;
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}

.footer > div  {
  padding: 15px;
  width: 100%;
  font-size: x-small;
}

.footer-links {
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: x-large;
  width: 60%;
}
footer .footer p {
  margin: 0;
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 24px;
  }
}


/*H4 Button */
h3 > a:any-link  {
  background-color: transparent;
  color: rgb(171, 171, 171);
  font-size: x-small;
  margin: 0;
  padding: 1px;
}

.footer h2 {
  color: white;
  font-size: large;
}


.footer h3 > a:any-link:hover {
  text-decoration: underline;
}

.footer h3 > a:any-link:hover::after {
  transform: scale(1.2) rotate(90deg);
  border-bottom-width: 8px;
}

.footer-links img {
  width: 70px;
  height: 100%;
}

.footer-links > div:last-child {
  margin-left: 30px;
}

.footer-links > div:last-child > div {
  display: flex;
  gap: 20px;
}